{% extends 'base.html' %}

{% block head %}
<title>FitAnalytics</title>
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = 'success';
        alert('You have successfully logged in!');
    }
</script>
{% endblock %}

{% block body %}
<h1>Welcome to FitAnalytics!</h1>
<button onclick="window.location.href='/login/fitbit-api';">
    Login
</button>
<button onclick="window.location.href='/daily';">
    Get Daily Report
</button>
<button onclick="window.location.href='/heart';">
    Heart Rates
</button>
<button onclick="window.location.href='/profile';">
    Profile
</button>
<button onclick="window.location.href='/weight';">
    Weight
</button>

{% endblock %}